# Export all names
exportPattern(".")

# Import all packages listed as Depends or Imports
import(maptools)
import(RColorBrewer)
import(rgdal)
import(sp)
import(ggplot2)
importFrom(grid, grid.layout)
importFrom(grid, grid.newpage)
importFrom(grid, pushViewport)
importFrom(grid, viewport)

S3method(print, mm)
